<b>Jurados del Desaf&iacute;o Turing</b>
<br />
<br />
<br />
<b>Rafael Fernando Isaacs Giraldo</b>
<br />
<br />
<div class='acercade'>
	<div class='perfil'>
		<p>Profesor titular de la escuela de Matem&aacute;ticas </p>
		<p>de la Universidad Industrial de Santander. </p>
		<br />
		<p>Experto en Lenguajes Formales, Automatas, Teor&iacute;a del Caos y Fractales. </p>
		<br />
		<p>Director y fundador de la: Fundaci&oacute;n Alan Turing,</p> 
		<p>para la ciencia y la tecnolog&iacute;a.</p>
		<br />
		<p>y Promotor del Software Libre.</p>	
	</div>
	<div class='foto'>
		<img src="/assets/isaacs.png" class="center" alt="Rafael Isaacs"/>
	</div>
</div>
<br />
<br />

<b>John Freddy Garavito Su&aacute;rez</b>
<br />
<br />
<div class='acercade'>
	<div class='perfil'>
		<p>Amante del Jazz y de la historía precolombina.</p>
		<br />
		<p>Pensador Sist&eacute;mico y Desarrollador de WebApps</p>
		<br />
		<p>Investigador en modelamiento y simulación con din&aacute;mica de sistemas, especialmente en sistemas agr&iacute;olas.</p>
		<br />
		<p>Miembro del grupo SIMON de la UIS.</p>
		<br />
		<p>Promotor del software Libre.</p>
		<br />		
	</div>
	<div class='foto'>
		<img src="/assets/john.png" class="center" alt="John Garavito Suárez"/>
	</div>
</div>
<br />
<br />

<b>Gabriel Fernando Neira Berm&uacute;dez</b>
<br />
<br />
<div class='acercade'>
	<div class='perfil'>
		<p>Amante de la musica y la programaci&oacute;n.</p>
		<br />
		<p>Estudiante Ingenieria de Sistemas - 8 Nivel</p>
		<p>Universidad Industrial de Santander.</p>
		<br />
		<p>Desarrollador Web y para dispositivos móviles, especialmente.</p>
		<br />
		<p>Promotor del Software Libre.</p>	
	</div>
	<div class='foto'>
		<img src="/assets/gabriel.png" class="center" alt="Gabriel Neira"/>
	</div>
</div>

<div clas="cl">&nbsp;</div>
