<p>Retos del Desaf&iacute;o Turing.</p>
<br />
<br />

<p><b>1. </b>Un programa que escriba “Conmemoracion al nacimiento de Alan Turing - UIS 2012”</p>
<br />
<div class='code'><span>CE:</span></div>
<div class='code'><span>CS:</span>Conmemoracion al nacimiento de Alan Turing - UIS 2012</div>
<br />
<br />

<p><b>2. </b>Tomar lo que esta en la CE y pasarlo a la CS anteponiendo “Hola ” y agregando al final un signo de admiración “!”</p>
<br />
<div class='code'><span>CE:</span>Juan</div>
<div class='code'><span>CS:</span>Hola Juan!</div>
<br />
<br />

<p><b>3. </b>Escribir el abecedario en mayúscula A,B,C...Z. Número máximo de instrucciones: 74</p>
<br />
<div class='code'><span>CE:</span></div>
<div class='code'><span>CS:</span>ABCDEFGHIJKLMNOPQRSTUVXYZ</div>
<br />
<div class='code'><span>CE:</span>Cualquier palabra</div>
<div class='code'><span>CS:</span>ABCDEFGHIJKLMNOPQRSTUVXYZ</div>
<br />
<br />

<p><b>4. </b>Un programa que tome lo que esta en la CE y lo invierta.</p>
<br />
<div class='code'><span>CE:</span>Hola Mundo!</div>
<div class='code'><span>CS:</span>!odnuM aloH</div>
<br />
<br />

<p><b>5. </b>Leer de la CE dos enteros positivos de un digito tales que su resta sea mayor a cero y escribir en la CS la resta de ellos dos.</p>
<br />
<div class='code'><span>CE:</span>9-3</div>
<div class='code'><span>CS:</span>6</div>
<br />
<div class='code'><span>CE:</span>5-4</div>
<div class='code'><span>CS:</span>1</div>
<br />
<div class='code'><span>CE:</span>7-7</div>
<div class='code'><span>CS:</span>0</div>
<br />
<br />

<p><b>6. </b>Un programa que lea de la CE un caracter y luego un número (entero positivo de una cifra) y escriba en la CS tantas veces el caracter como el número lo diga.</p>
<br />
<div class='code'><span>CE:</span>c0</div>
<div class='code'><span>CS:</span></div>
<br />
<div class='code'><span>CE:</span>F6</div>
<div class='code'><span>CS:</span>FFFFFF</div>
<br />
<br />

<p><b>7. </b>Contar el número de a’s que se encuentran en la CE. máximo 9.</p>
<br />
<div class='code'><span>CE:</span>Hola Mundo</div>
<div class='code'><span>CS:</span>1</div>
<br />
<div class='code'><span>CE:</span>jajajajaja</div>
<div class='code'><span>CS:</span>5</div>
<br />
<div class='code'><span>CE:</span>Hello World</div>
<div class='code'><span>CS:</span>0</div>
<br />
<br />

<p><b>8. </b>Evaluar si un cadena de 5 caracteres es palindromo. imprimir “S” o “N” según el caso.</p>
<br />
<div class='code'><span>CE:</span>salas</div>
<div class='code'><span>CS:</span>S</div>
<br />
<div class='code'><span>CE:</span>12345</div>
<div class='code'><span>CS:</span>N</div>
<br />
<div class='code'><span>CE:</span>rotor</div>
<div class='code'><span>CS:</span>S</div>
<br />
<br />

<p><b>9. </b>Dado un número de un dígito restarle uno si es necesario para volverlo par.</p>
<br />
<div class='code'><span>CE:</span>9</div>
<div class='code'><span>CS:</span>8</div>
<br />
<div class='code'><span>CE:</span>6</div>
<div class='code'><span>CS:</span>6</div>
<br />
<br />

<p><b>10. </b>Un programa que cifre lo que está en la CE al cifrado del CESAR y lo imprima en la CS. Solo las letras en mayúscula podrán ser cifradas.</p>
<br />
<div class='code'><span>CE:</span>HOLA</div>
<div class='code'><span>CS:</span>KROD</div>
<br />
<div class='code'><span>CE:</span>XYZA</div>
<div class='code'><span>CS:</span>ABCD</div>
<br />
<br />

<p><b>11. </b>Un programa que lea de la CE dos enteros positivos tales que su suma sea menor a 100 y escriba en la CS la suma de ellos dos. Los números deben estar separados solo por el caracter “+”.</p>
<br />
<div class='code'><span>CE:</span>50+4</div>
<div class='code'><span>CS:</span>54</div>
<br />
<div class='code'><span>CE:</span>5+40</div>
<div class='code'><span>CS:</span>45</div>
<br />
<div class='code'><span>CE:</span>50+40</div>
<div class='code'><span>CS:</span>90</div>
<br />
<div class='code'><span>CE:</span>5+2</div>
<div class='code'><span>CS:</span>7</div>
<br />
<br />

<p><b>12. </b>Un programa que cuente los caracteres (incluido espacio) de la CE y lo escriba en números enteros (no su representación en carácter) en la CS. Se considera que el texto que está en la CE no supera los 999 caracteres.</p>
<br />
<div class='code'><span>CE:</span></div>
<div class='code'><span>CS:</span>0</div>
<br />
<div class='code'><span>CE:</span>Hola Mundo! </div>
<div class='code'><span>CS:</span>11</div>
<br />
<div class='code'><span>CE:</span>Desafio        Turing!!!</div>
<div class='code'><span>CS:</span>24</div>
<br />
<div class='code'><span>CE:</span>este es un ejemplo de como mi programa puede contar muuuuchos caracteres e imprimirlos en la CS como un número entero</div>
<div class='code'><span>CS:</span>117</div>
<br />
<br />

<p><b>13. </b>Un programa que cuente los caracteres (sin incluir el espacio) de la CE y lo escriba en números enteros (no su representación en carácter) en la CS. Se considera que el texto que está en la CE no supera los 999 caracteres.</p>
<br />
<div class='code'><span>CE:</span></div>
<div class='code'><span>CS:</span>0</div>
<br />
<div class='code'><span>CE:</span>Hola Mundo! </div>
<div class='code'><span>CS:</span>10</div>
<br />
<div class='code'><span>CE:</span>Desafio        Turing!!!</div>
<div class='code'><span>CS:</span>16</div>
<br />
<div class='code'><span>CE:</span>este es un ejemplo de como mi programa puede contar muuuuchos caracteres e imprimirlos en la CS como un número entero</div>
<div class='code'><span>CS:</span>97</div>
<br />
<br />

<div clas="cl">&nbsp;</div>