<p>Estos algoritmos se pueden ejecutar paso a paso en el Intérprete del Desafío Turing para comprender su funcionamiento.</p>
<br />
<br />

<b>Imprime el caracter "1"</b>
<br />
<br />
<div class='code'>++++++++++++++++++o</div>
<br />
<p>Incrementa en 18 el valor apuntado por el cabezote de la CM (que por defecto es 0) e imprime su representación en caracter a la CS</p>
<br />
<br />
<br />

<b>Imprime el caracter "z"</b>
<br />
<br />
<div class='code'>----o</div>
<br />
<p>Decrementa en 4 el valor apuntado por el cabezote de la CM (que por defecto es 0) e imprime su representación en caracter a la CS</p>
<br />
<br />
<br />

<b>Imprime el caracter "Q"</b>
<br />
<br />
<div class='code'>++++++++++(>+++++<-)>o</div>
<br />
<p>Hace un ciclo de 10 iteraciones (con los primeros 10 +) y cada iteracion incrementa en 5 uno de los datos de la CM quedando al final en 50 e imprime su representación en caracter a la CS</p>
<br />
<br />
<br />

<b>Imprimir el siguiente caracter</b>
<br />
<br />
<div class='code'>i+o</div>
<br />
<p>Saca un caracter de la CE, copia su representación decimal a la CM, lo aumenta en 1 y finalmente imprime su representación en caracter a la CS</p>
<br />
<br />
<br />

<div clas="cl">&nbsp;</div>