<b>Bienvenidos al Desafío Turing</b>
<br />
<br />

<p>En el marco de la conmemoraci&oacute;n de los 100 años de Alan Turing, la fundaci&oacute;n Alan Turing liderada por el
profesor Rafael Isaacs adscrito a la Universidad Industrial de Santander y un grupo de estudiantes de la Escuela de Ingenier&iacute;a 
de Sistemas de la misma Alma Mater, han tomado la iniciativa de proponer a la comunidad Acad&eacute;mica de la UIS un desaf&iacute;o
que pretende contribuir el aprendizaje de los fundamentos de la computaci&oacute;n mediante el concepto de la Maquina de Turing</p>

<br />
<p>El desaf&iacute;o se compone de las siguientes etapas:</p>

<ul>
	<li><p><b>Etapa de Familiarizaci&oacute;n:</b> esta etapa esta comprendida desde el 23 de noviembre hasta el 29 de noviembre del 2012
		en la cual los interesados en el desaf&iacute;o podr&aacute;n conocer el lenguaje y el interprete sobre el que se realizar&aacute; el Desaf&Iacute;o Turing</p></li>
	<li><p><b>Etapa del Desaf&Iacute;o:</b> esta etapa esta comprendida desde el 30 de noviembre hasta el 20 de diciembre del 2012
	en la cual se publicaran los retos del desaf&iacute;o Turing y los interesados podr&aacute;n enviar sus soluciones</p></li>
	<li><p><b>Etapa de Evaluaci&oacute;n:</b> esta etapa esta comprendida desde el 20 de diciembre hasta el 23 de diciembre del 2012
	en la cual los jurados del reto evaluaran las soluciones presentadas y se seleccionar&aacute;n los ganadores del reto</p></li>
	<li><p><b>Etapa de Premiaci&oacute;n:</b> (Sorpresa)</p></li>		
</ul> 
<br />

<p>Los participantes del desaf&iacute;o deberan ser estudiantes de pregrado de la Universidad Industrial de Santader,
   y para poder participar en la etapa de Evaluaci&oacute;n, deberan resolver un minimo de 8 retos de los 13 propuestos</b>
<br />
<br />

<p>La m&eacute;trica escogida para determinar desempates, es la cantidad de pasos que requiera el programa para resolver cada uno de los retos</b>
<br />
<br />

<p>Las inscripciones se realizar&aacute;n mediante el siguiente formulario:</p>
<b><a href="https://docs.google.com/spreadsheet/viewform?formkey=dEZwOWFVb01fNUNIUERueFpyWmNsS0E6MQ" target="_blank">Formulario de Registro</a></b>
<br />
<br />

<p>Cualquier inquitud será atendida mediante el correo: </p><b>desafio@fundacionaturing.org</b>
<br />
<br />

<b>Sean TODOS bienvenidos a este gran desaf&iacute;o</b>
<br />
<br />

<div clas="cl">&nbsp;</div>