<h2>Int&eacute;rprete Desaf&iacute;o Turing.</h2>
<br />
<label><strong>Instrucciones Campus Code:</strong></label>
<br />
<textarea id="program" type="text"></textarea>
<br />
<br />
<label><strong>Cinta de entrada:</strong></label>
<br />
<textarea id="input" type="text"></textarea>
<br />
<br />
<button id="run" onclick="BF.loadAndRun()">Ejecutar</button>
<button id="step" onclick="BF.loadAndStep()">Paso a paso</button>
<button id="step" onclick="BF.clean()">Limpiar</button>

<div id="progress">
</div>
<br />
<strong>Cinta de Instrucciones: </strong>
<br />
<div id="execution">&nbsp;</div>
<br />
<strong> Cinta de Memoria: </strong>
<br />
<div id="buffer">&nbsp;</div>
<br />
<strong>Cinta de Entrada:</strong>
<br />
<div id="inputTape">&nbsp;</div>
<br />
<strong>Cinta de Salida:</strong>
<br />
<div id="output">&nbsp;</div>
<br />
<div id="error"></div>
<div clas="cl">&nbsp;</div>